/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: hsl(0, 0%, 100%);
    padding: 24px;
    min-width: 340px;
    font-family: "inter";
    border-radius: 5px;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.heading h1 {
    font-size: 24px;
}

.heading p {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 400;
}

.status {
    font-size: 14px;
    font-weight: 400;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}

.links p {
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    padding: 6px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
}
